
/* footer */
.footer{
  box-shadow: 0px 0px 4px 0px black;
  border-top: 1px solid black;
  padding: 40px 0;
  background-image: radial-gradient(#343933, #282d27, #242621);
}

.footer h1{
  font-size: 2em;
  font-weight: 600;
  font-family: abe;
}
.footer .time,
.footer .location,
.footer .telephone,
.footer .email{
  display: flex;
  margin: 5px 0;
}

.footer .time svg,
.footer .location svg,
.footer .telephone svg,
.footer .email svg{
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-right: 5px;
  /* margin-top: 1px; */
  color: #acacac;
  margin-bottom: 10px;

}




.footer_logo {
  margin-top: 10px;
  width: 240px;
  position: relative;
}

.footer_logo img{
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  transform: translate(-20%);
}


.footer .footer_right h1,svg,p,
.footer .footer_mid h1,svg,p,
.footer .footer_left h1,svg,p{
  color: #acacac;

}




.footer_right h1,
.footer_mid h1,
.footer_left h1{
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: 20px;

}

.footer p {
  font-size: 15px;
  padding: 0 4px;
  padding-top: 3px;
  padding-bottom: 7px;
  font-family: abe;
}


.footer .high_text3 h1{
  padding-top: 10px;
  
}

.footer_mid .location h4{
  color: #acacac;
  font-size: 15px;
  font-family: abe;
  margin-left: 33px;
}




.footer .high_text1 h1,
.footer .high_text2 h1,
.footer .high_text3 h1,
.footer .high_text4 h1{
  padding-top: 10px;
  letter-spacing: 3px;
  font-family: abe;
}












/* Social icons */
.social_icons{
  margin-top: 25px;
}
.social_icons a{
  position: relative;
  background-color: #acacac;
  text-decoration: none;
  padding: 15px 25px;
  margin: 10px;
  border-radius: 50%;
  color: #acacac;
}
.social_icons a:first-child{
  margin-left: 0px;
}

.social_icons a svg{
  position: absolute;
  top: 50%;
  font-size: 2em;
  color: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  opacity: 0.9;
}

.social_icons a:hover{
  background-color: #0c0c0c;
  transition: 0.5s;

}

.social_icons a:hover svg{
  color: #acacac;
  transition: 0.5s;
}













.reserved{
  background-color: black;
  padding: 10px 0;
  border-top: 1px solid black ;
}
.reserved p{
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.625);
  letter-spacing: 1.5;
}
