<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="footer_logo">
          <a href=""><img src="./assest/img/footer_logo.png" alt=""></a>
        </div>
      </div>
      <div class="col-3">
        <div class="footer_left">
          <div class="high_text1">
            <h1>Contact</h1>
          </div>
          <div class="telephone">
            <i class="fa fa-phone-square" aria-hidden="true"></i><p>0923135323</p>
          </div>

          <div class="email">
            <i class="fa fa-envelope-o" aria-hidden="true"></i><p>tatoovn@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="footer_mid">
          <div class="row">
            <div class="col-12">
              <div class="high_text2">
                <h1>Studio Hours</h1>
              </div>
            </div>
            <div class="col-12">
              <div class="time">
                <div class="row">

                  <div class="col-2">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                  </div>
                  <div class="col-10 pl-0 pr-0">
                    <p>1am - 9am</p>
                  </div>

                  <div class="col-2">
                    <i class="fa fa-calendar" aria-hidden="true"></i>

                  </div>
                  <div class="col-10  pl-0 pr-0">
                    <p>Monday - Sunday</p>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="high_text3">
                <h1>Location</h1>
              </div>
            </div>

            <div class="col-12">
              <div class="location">
                <div class="row">
                  <div class="col-2">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </div>
                  <div class="col-10  pl-0 pr-0">
                    <p>125 Dang Van Ngu</p>
                  </div>

                  <div class="col-12">
                    <h4>Dong Da, Ha Noi</h4>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-3">
        <div class="footer_right">
          <div class="high_text4">
            <h1>Social</h1>
          </div>
          <div class="social_icons">
            <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href=""><i class="fa-brands fa-tiktok" style="font-size:2em"></i></a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<div class="reserved">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>©2018 Tattoo. All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
