
/* footer */
.footer-PC {
  box-shadow: 0px 0px 4px 0px black;
  border-top: 1px solid black;

  background-image: radial-gradient(#343933, #282d27, #242621);
}

.footer-PC h1{
  font-size: 2em;
  font-weight: 600;
  font-family: abe;
}
.footer-PC .time,
.footer-PC .location,
.footer-PC .telephone,
.footer-PC .email{
  display: flex;
  margin: 5px 0;
}

.footer-PC .time svg,
.footer-PC .location svg,
.footer-PC .telephone svg,
.footer-PC .email svg{
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-right: 5px;
  /* margin-top: 1px; */
  color: #acacac;
  margin-bottom: 10px;

}



.footer{
  padding: 40px 0;
}
.footer_logo {
  margin-top: 10px;
  width: 240px;
  position: relative;
}

.footer_logo img{
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  transform: translate(-20%);
}


.footer-PC .footer_right h1,svg,p,
.footer-PC .footer_mid h1,svg,p,
.footer-PC .footer_left h1,svg,p{
  color: #acacac;

}




.footer_right h1,
.footer_mid h1,
.footer_left h1{
  font-size: 25px;
  padding-bottom: 10px;
  padding-top: 20px;

}

.footer-PC p {
  font-size: 15px;
  padding: 0 4px;
  padding-top: 3px;
  padding-bottom: 7px;
  font-family: abe;
}


.footer-PC .high_text3 h1{
  padding-top: 10px;

}

.footer_mid .location h4{
  color: #acacac;
  font-size: 15px;
  font-family: abe;
  margin-left: 33px;
}




.footer-PC .high_text1 h1,
.footer-PC .high_text2 h1,
.footer-PC .high_text3 h1,
.footer-PC .high_text4 h1{
  padding-top: 10px;
  letter-spacing: 3px;
  font-family: abe;
}

/* Social icons */
.social_icons{
  margin-top: 25px;
}
.social_icons a{
  position: relative;
  background-color: #acacac;
  text-decoration: none;
  padding: 15px 25px;
  margin: 10px;
  border-radius: 50%;
  color: #acacac;
}
.social_icons a:first-child{
  margin-left: 0px;
}

.social_icons a svg{
  position: absolute;
  top: 50%;
  font-size: 2em;
  color: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  opacity: 0.9;
}

.social_icons a:hover{
  background-color: #0c0c0c;
  transition: 0.5s;

}

.social_icons a:hover svg{
  color: #acacac;
  transition: 0.5s;
}

/* reserved */
.reserved{
  background-color: black;
  padding: 10px 0;
  border-top: 1px solid black ;
}
.reserved p{
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.625);
  letter-spacing: 1.5;
}

/* ------------------------------------------Mobile---------------------------------- */
.footer-MB{
  background-color: #292e28;



}


.footer-MB .footerr{
  padding-bottom: 13%;
}

.footer-MB .footer_logo{
  width: auto;
  height: 100%;
  position: relative;
}

.footer-MB .footer_logo img{
  width: auto;
  position: absolute;
  height: 150%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.footer-MB .footer_text{
  position: relative;
  margin-top: 20px;
  text-align: center;
  position: relative;
}
.footer-MB .footer_text .follow h1{
  font-family: abe;
  font-size: 18px;
  color: #acacac;
  margin: 5% 0;
}
.footer-MB .footer_text .nav_follow{
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.footer-MB .footer_text .nav_follow li{
  margin: 0 10px;
}
.footer-MB .footer_text .nav_follow li svg{
  font-size: 25px;
}

.footer-MB .footer_text .nav_follow li:first-child{
  position: relative;
  right: 10px;
}

.footer-MB .footer_text .nav_follow li:last-child{
  position: relative;
  left: 10px;
}

.footer-MB .footer_text .nav_follow li:hover svg {
  color: #101011;
  transition: 0.5s;
}
.footer-MB .reservedd{
  background-color: black;
  padding: 5px 0;
  border-top: 1px solid black;
}
.footer-MB .reservedd p{
  color: #acacac;
  font-size: 10px;
}

@media only screen and (max-width: 1024px) {
  .footer-PC{
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .footer-MB{
    display: none;
  }
}
