
  <section class="home-PC">
    <div class="mainn">
      <div class="wrapper" id="home">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="box">
                <h1>Kirin Tatoo Studio</h1>
                <p>since 2023</p>
                <div class="small-box">
                  <a href="https://www.facebook.com/messages/t/106534497471895/" target="_blank"><p>Inbox for more</p></a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="about_us" id="about_us">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="high_text">
                <h1>About Us</h1>
              </div>
            </div>
            <!-- dòng 1 -->
            <div class="col-12">
              <div class="content">
                <div class="row">
                  <div class="col-6">
                    <div class="image1">
                      <a href=""><img src="../../../assets/img/about-us-1.jpg" alt=""></a>
                    </div>
                  </div>

                  <div class="col-6 open_close">
                    <div class="box_text">
                      <div class="h_text">
                        <h3>Intro about studio</h3>
                      </div>
                      <div class="text">
                        <p><span>Kirin Tatoo Studio</span> is a professional and reliable tattoo studio, where artistry and creativity converge to create unique and stunning tattoo masterpieces. We are committed to providing customers with <span>safe, high-quality, and enjoyable tattoo experiences.</span> Our mission is to turn your ideas and aspirations into reality on your skin, making each tattoo at <span>Kirin Tattoo Studio</span> a <span>one-of-a-kind story</span> that you can proudly showcase to the world.</p>
                        <p>At <span>Kirin Tatoo Studio</span>, we believe in creating a comfortable and welcoming environment for our clients. From the moment you step into our studio, you'll be greeted by our friendly staff who will guide you through the entire tattooing process. We strive to make your experience with us enjoyable and memorable, leaving you with not only a <span>remarkable tattoo</span> but also <span>a positive and lasting impression.</span></p>
                      </div>
                    </div>
                  </div>


              </div>
            </div>
          </div>

          <!-- dòng 2 -->

          <div class="col-12">
            <div class="content">
              <div class="row">
                <div class="col-6 open_close">
                  <div class="box_text">
                    <div class="h_text">
                      <h3>Road to the Future</h3>
                    </div>
                    <div class="text">
                      <p>At <span>Kirin Tattoo Studio</span>, we believe in embracing the <span>"Road to the Future"</span> as we continue to push the boundaries of creativity and innovation in the tattoo industry. We are <span>constantly evolving and adapting</span> to stay at the forefront of tattoo artistry, ensuring that our clients receive the best possible experience and results.</p>
                      <p>As we embark on <span>our journey towards the future</span>, we are committed to staying abreast of the latest advancements in tattoo techniques, equipment, and styles.</p>
                      <p>We understand that <span>tattoo trends and preferences evolve over time</span>, and we strive to be at the forefront of these changes. Our artists are not only skilled in traditional tattoo styles but also embrace contemporary and emerging styles, allowing us to offer a diverse range of options to our clients.</p>

                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <div class="image2">
                    <a href=""><img src="../../../assets/img/about-us-2.jpg" alt=""></a>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- dòng 3 -->

          <div class="col-12">
            <div class="content">
              <div class="row">
                <div class="col-6">
                  <div class="image3">
                    <a href=""><img src="../../../assets/img/about-us-3.jpg" alt=""></a>
                  </div>
                </div>

                <div class="col-6 open_close">
                  <div class="box_text">
                    <div class="h_text">
                      <h3>Love You So Much</h3>
                    </div>
                    <div class="text">
                      <p>We extend our <span>heartfelt thanks</span> to all those who have entrusted us with their skin as a canvas for their stories. It is <span>an honor and privilege</span> to be a part of their transformative experiences, and we are grateful for the opportunity to bring their visions to life through our artistry.</p>
                      <p>We understand that getting a tattoo is a personal and sometimes <span>vulnerable</span> process. That is why we strive to create a <span>supportive and welcoming environment</span>, where our clients feel comfortable expressing their ideas and sharing their stories. The trust they place in us <span>fuels our dedication</span> to providing exceptional service and ensuring their satisfaction.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="slider_wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="high_text" id="view_of_studito">
              <h1>Some View Of Studio</h1>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../assets/img/n_view1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/img/n_view2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/img/n_view3.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gallery">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="high_text" id="gallery">
              <h1>Gallery</h1>
            </div>
          </div>

          <div class="col-12">
            <div class="gallery_image">
              <div class="row">
                <div class="col-4">
                  <div class="gale_img">
                    <a href=""><img src="../../../assets/img/hinh_xam_1.jpg" alt=""></a>
                  </div>
                </div>

                <div class="col-4">
                  <div class="gale_img">
                    <a href=""><img src="../../../assets/img/hinh_xam_2.jpg" alt=""></a>
                  </div>

                </div>

                <div class="col-4">
                  <div class="gale_img">
                    <a href=""><img src="../../../assets/img/hinh_xam_3.jpg" alt=""></a>
                  </div>

                </div>


              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="gallery_image">
              <div class="row">
                <div class="col-4">
                  <div class="gale_img">
                    <a href=""><img src="../../../assets/img/hinh_xam_4.jpg" alt=""></a>
                  </div>
                </div>

                <div class="col-4">
                  <div class="gale_img">
                    <a href=""><img src="../../../assets/img/hinh_xam_5.jpg" alt=""></a>
                  </div>

                </div>

                <div class="col-4">
                  <div class="gale_img">
                    <a href=""><img src="../../../assets/img/hinh_xam_6.jpg" alt=""></a>
                  </div>

                </div>


              </div>
            </div>
          </div>

        </div>
      </div>
    </div>




    <div class="contact">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="contact_us">
              <h1>Please make an appointment in advance.</h1>
              <div class="box">
                <h3>Location</h3>
                <p>125 Dang Van Ngu</p>
                <p>Dong Da, Ha Noi</p>
                <a href=""><p>View map</p></a>

                <h3> Studio Hours</h3>
                <p>1pm - 9pm</p>
                <p>Monday - Sunday</p>
              </div>
            </div>
          </div>
          <div class="col-12">

          </div>

        </div>
      </div>
    </div>
    <div class="map">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="map_left" id="contact">
              <h1>Find Us On The Map</h1>
              <p><span>Location:</span> 125 Dang Van Ngu, Dong Da, Ha Noi</p>
              <p>Welcome to <span>Kirin Tatoo Studio</span> located, our Studio is conveniently situated, ensuring hassle-free navigation for our visitors. Whether you're arriving by car or using public transportation, you'll have <span>no trouble</span> locating us.</p>
              <p>If you're driving, our studio is located just off the main road, allowing for quick and straightforward access. There are ample parking options available nearby, <span>ensuring a convenient experience for our guests</span>.</p>
            </div>
          </div>

          <div class="col-6">
            <div class="map_right">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.489295200399!2d105.8306109751992!3d21.013099380632383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab813fc0428f%3A0xc0b93e5baf740c39!2zMTI1IFAuIMSQ4bq3bmcgVsSDbiBOZ-G7rywgUGjGsMahbmcgTGnDqm4sIMSQ4buRbmcgxJBhLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1691335481990!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- -----------------------------------MB------------------------------------------- -->
  <!-- About us -->

  <section class="home-MB">
    <div class="inbox">
      <div class="pic">
        <img src="../../../assets/img/wallpaperflare_dark.png" alt="Kirin">
        <div class="text">
          <h1>Kirin Tatoo Studio</h1>
          <p>since 2023</p>
          <div class="box-contact">
            <a href="https://www.facebook.com/messages/t/106534497471895/" target="_blank"><p>Inbox for more</p></a>
          </div>
        </div>
      </div>
    </div>

    <div class="about_us">
      <div class="title_about_us">
        <h1><u>About Us</u></h1>
      </div>
      <div class="pic_about_us">
        <div class="container">
          <div class="row">
            <div class="col picture">
              <img src="../../../assets/img/about-us-1.jpg" alt="">
            </div>
            <div class="col infor">
              <h1>Intro about studio</h1>
              <p><span>Kirin Tatoo Studio</span> is a professional and reliable tattoo studio, where artistry and creativity converge to create unique and stunning tattoo masterpieces. We are committed to providing customers with <span>safe, high-quality, and enjoyable tattoo experiences.</span> Our mission is to turn your ideas and aspirations into reality on your skin, making each tattoo at <span>Kirin Tattoo Studio</span> a <span>one-of-a-kind story</span> that you can proudly showcase to the world.</p>
            </div>
          </div>

          <div class="row">
            <div class="col infor">
              <h1>Road to the Future</h1>
              <p>At <span>Kirin Tattoo Studio</span>, we believe in embracing the <span>"Road to the Future"</span> as we continue to push the boundaries of creativity and innovation in the tattoo industry. We are <span>constantly evolving and adapting</span> to stay at the forefront of tattoo artistry, ensuring that our clients receive the best possible experience and results.</p>
            </div>
            <div class="col picture">
              <img src="../../../assets/img/about-us-2.jpg" alt="">
            </div>
          </div>

          <div class="row">
            <div class="col picture">
              <img src="../../../assets/img/about-us-3.jpg" alt="">
            </div>
            <div class="col infor">
              <h1>Love You So Much</h1>
              <p>We extend our <span>heartfelt thanks</span> to all those who have entrusted us with their skin as a canvas for their stories. It is <span>an honor and privilege</span> to be a part of their transformative experiences, and we are grateful for the opportunity to bring their visions to life through our artistry.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Some photo -->
    <div class="some_photo">
      <p><u><h1>Some View Of Studio</h1></u></p>
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="../../../assets/img/n_view1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="../../../assets/img/n_view2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../../assets/img/n_view3.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>


    <!-- Gallery -->
    <div class="gallery">
      <p><u><h1>Gallery</h1></u></p>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="scroll_gallery">
              <!-- anh1 -->
              <div class="scroll_image" id="image1">
                <img src="../../../assets/img/hinh_xam_1.jpg" alt="...">
              </div>
              <!-- anh2 -->
              <div class="scroll_image" id="image2">
                <img src="../../../assets/img/hinh_xam_2.jpg" alt="...">
              </div>
              <!-- anh3 -->
              <div class="scroll_image" id="image3">
                <img src="../../../assets/img/hinh_xam_3.jpg" alt="...">
              </div>
              <!-- anh4 -->
              <div class="scroll_image" id="image4">
                <img src="../../../assets/img/hinh_xam_4.jpg" alt="...">
              </div>
              <!-- anh5 -->
              <div class="scroll_image" id="image5">
                <img src="../../../assets/img/hinh_xam_5.jpg" alt="...">
              </div>
              <!-- anh6 -->
              <div class="scroll_image" id="image6">
                <img src="../../../assets/img/hinh_xam_6.jpg" alt="...">
              </div>
            </div>
            <div class="slider_nav">
              <a href="#image1"></a>
              <a href="#image2"></a>
              <a href="#image3"></a>
              <a href="#image4"></a>
              <a href="#image5"></a>
              <a href="#image6"></a>
            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="location">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title_location">
              <h1>Find Us On The Map</h1>
            </div>

          </div>
          <div class="col-12">
            <div class="box_location">
              <div class="row">
                <div class="col-6">
                  <div class="info_location">
                    <div class="row">
                      <div class="col-12">
                        <div class="lo_top">
                          <h3>Location</h3>
                          <p>125 Dang Van Ngu, Dong Da, Ha Noi</p>
                        </div>
                      </div>

                      <div class="col-12">
                      <div class="lo_bottom">
                        <h3>Studio Hours</h3>
                        <p>1pm - 9pm</p>
                        <p>Monday - Sunday</p>
                      </div>
                      </div>

                      <div class="col-12">
                        <div class="email">
                          <h3>Email</h3>
                          <p>tatookirin@gmail.com</p>

                        </div>
                      </div>

                      <div class="col-12">
                        <div class="phone">
                          <h3>Phone Number</h3>
                          <p>0931235678</p>

                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="map_location">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.489170158591!2d105.83061097479573!3d21.01310438831701!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab813fc0428f%3A0xc0b93e5baf740c39!2zMTI1IFAuIMSQ4bq3bmcgVsSDbiBOZ-G7rywgUGjGsMahbmcgTGnDqm4sIMSQ4buRbmcgxJBhLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1691740432693!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
