html{
  scroll-behavior: smooth;
}

/* wrapper */
.home-PC .wrapper{
  background-image: url("../../../assets/img/wallpaperflare_dark.png");
  background-size: cover;

  height: 680px;
  background-position: 0px -333px;
  position: relative;
  z-index: -1;
}



.home-PC .wrapper .box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,300%);
}

.home-PC .wrapper .box h1{
  text-shadow: rgb(255 3 3 / 76%) 6px -3px 0px, black 0px 0px 20px;
  font-weight: 900;
  letter-spacing: 10px;
}

.home-PC .wrapper .box p{
  letter-spacing: 1px;

}

.home-PC .wrapper .box p,
.home-PC .wrapper .box h3,
.home-PC .wrapper .box h1{
  text-shadow: #000000cc;
  font-family: abe;
  color: white;
  text-align: center;
}

.home-PC .wrapper .box .small-box{
  width: 200px;
  background: #ff030352;
  position: absolute;
  padding: 10px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 0px 7px 0px black;
}

.home-PC .wrapper .box .small-box a{
  text-decoration: none;
}

.home-PC .wrapper .box .small-box p{
  font-family: abe;
  color: rgba(255, 255, 255, 0.896);
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 2px;

}


/* About Us */

.home-PC .about_us{
  margin-top: 30px;
}

.home-PC .about_us .high_text{
  position: relative;
}

.home-PC .about_us .high_text h1{
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  font-family: abe;
}

.home-PC .about_us .high_text::after{
  position: absolute;
  content: "";
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 140px;
  background-color: black;
}

.home-PC .about_us .open_close{
  position: relative;

}

.home-PC .about_us .open_close::after{
  position: absolute;
  content: "";
  background-color: white;
  top: 0;
  left: 0;
  transform: translate(35%);
  height: 25px;
  width: 25px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  z-index: -1;
  margin: -1px;
}

.home-PC .about_us .open_close::before{
  position: absolute;
  content: "";
  background-color: white;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 25px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  z-index: -1;
}

.home-PC .about_us .content{
  margin: 40px 0;
}

.home-PC .about_us .image1,
.home-PC .about_us .image2,
.home-PC .about_us .image3{
  width: auto;
  height: 575px;
}

.home-PC .about_us .image1 img,
.home-PC .about_us .image2 img,
.home-PC .about_us .image3 img{
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

.home-PC .about_us .text span{
  font-weight: 600;
  font-family: abe;
  color: black;
}

.home-PC .about_us .h_text h3{
  font-size: 2em;
  margin-bottom: 20px;
  font-family: abe;
}

.home-PC .about_us .text p{
  color: red;
  font-family: abe;
  color: rgba(0, 0, 0, 0.685);
  text-align: justify;
}

.home-PC .about_us .image2{
  float: right;
} 

/* Map */
.home-PC .map{
  padding: 80px 0;
}

.home-PC .map .map_right{
  width: 500px;
  height: 500px;
}

.home-PC .map h1{
  font-size: 2em;
  font-family: abe;
  margin-bottom: 35px;
  font-weight: 800;
}

.home-PC .map p{
  color: rgba(0, 0, 0, 0.685);
  line-height: 2;
  font-family: abe;
  font-size: 15px;
}

.home-PC .map span{
  color: black;
  font-weight: 700;
  font-family: abe;
}

/* Gallery */

.gallery{
  background-color: white;
  padding-bottom: 130px;
}

.home-PC .gallery .gallery_image{
  padding-top: 30px;
  height: 460px;
  width: 100%;
}

.home-PC .gallery .gallery_image img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    transition: transform .5s, filter 1.5s ease-in-out;
}



.home-PC .gallery  .gallery_image img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.home-PC .gallery .high_text{
  position: relative;
}

.home-PC .gallery .high_text h1{
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  font-family: abe;
}


.home-PC .gallery .high_text::after{
  position: absolute;
  content: "";
  left: 50%;
  top: 105%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 110px;
  background-color: black;
}

.home-PC .slider_wrapper{
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 30px;

}


.home-PC .slider_wrapper .carousel-item {
  width: 100%;
  height: 500px;

}


.home-PC .slider_wrapper .carousel-item img{
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.home-PC .slider_wrapper h3{
  font-size: 2em;
  text-align: center;
  font-family: abe;

}


.home-PC .slider_wrapper .high_text{
  margin-bottom: 20px;
  position: relative;
}

.home-PC .slider_wrapper .high_text h1{
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  font-family: abe;
  color: black;
  margin-bottom: 30px;
}

.home-PC .slider_wrapper .high_text::after{
  position: absolute;
  content: "";
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 320px;
  background-color: black;
}


.home-PC .slider_wrapper .carousel-item img{
  border-radius: 5px;
}



/* contact */

.home-PC .contact {
  padding-top: 40px;
  padding-bottom: 30px;
  background-image: radial-gradient(rgb(52, 57, 51), rgb(40, 45, 39), rgb(36, 38, 33));
}

.home-PC .contact .contact_us{
  position: relative;
  width: 100%;
  height: 500px;

}


.home-PC .contact .contact_us .box{
  position: absolute;
  padding: 20px 0px;
  width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px white;
  margin: 30px 0;

}

.home-PC .contact .contact_us h1{
  padding: 35px 0;
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 4.5px;
  line-height: 1.15;
  font-family: abe;
  font-size: 2em;
}


.home-PC .contact .contact_us .box h3{
  font-weight: 700;
  padding: 10px 0;
  margin-bottom: 0px;
  text-align: center;
  color: black;
  font-size: 25px;
  letter-spacing: 3px;
  font-family: abe;
}

.home-PC .contact .contact_us .box p{
  text-align: center;
  color: #acacac;
  margin-bottom: 0px;
  margin: 5px 0;
  font-family: abe;

}


.home-PC .contact .contact_us .box h3:last-of-type{
  padding-top: 20px;
}

.home-PC .contact .contact_us .box a p{
  margin: 0;
  font-family: abe;
}

.home-PC .contact .contact_us .box a{
  color: #acacac;
  text-decoration: none;
  font-size: 0.875em;
  text-decoration: underline;

}



/* Mobile */
.home-MB .inbox{
  padding: 0;
  position: relative;
  height: fit-content;
}

.home-MB .inbox img{
  width: 100%;
  height: auto;
  z-index: -1;
}

.home-MB .pic{
  position: relative;
  z-index: -1;
}

.home-MB .text{
  position: absolute;
  transform: translate(-50%,300%);
  bottom: 300px;
  left: 50%;
}

.home-MB .text h1{
  text-shadow: rgb(255 3 3 / 76%) 6px -3px 0px, black 0px 0px 20px;
  color: white;
  font-weight: 900;
  letter-spacing: 10px;
  text-align: center;
}

.home-MB .text p{
  letter-spacing: 1px;
  color: white;
  text-align: center;
}

.home-MB .box-contact{
  width: 150px;
  background: #ff030352;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 0px 7px 0px black;
}

/* About us */
.home-MB .about_us{
  height: fit-content;
  position: relative;
  z-index: -1;
}

.home-MB .title_about_us h1{
  text-align: center;
  padding: 5% 0px;
  font-size: 20px;
}

.home-MB .pic_about_us img{
  width: 100%;
  height: auto;
}

.home-MB .infor{
  position: relative;
}

.home-MB .pic_about_us .infor p::before{
  position: absolute;
  content: "";
  background-color: white;
  height: 10px;
  width: 10px;
  border-left: 2px solid black;
  border-top: 2px solid black;
  z-index: -1;
  left: 12px;
}

.home-MB .pic_about_us .row{
  margin-bottom: 5px;
}

.home-MB .pic_about_us .infor p::after{
  position: absolute;
  content: "";
  background-color: white;
  height: 10px;
  width: 10px;
  bottom: 0;
  right: 12px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  z-index: -1;
}

.home-MB .infor p{
  margin-left: 5px;
}

/* View tatto shop */
.home-MB .some_photo{
  padding: 20px 12px;
}

.home-MB .some_photo h1{
  text-align: center;
  padding: 5% 0px;
  font-size: 20px;
}

/* Gallery */
.home-MB .gallery{
  padding: 0px 12px;
}

.home-MB .gallery h1{
  text-align: center;
  padding: 5% 0px;
  font-size: 20px;
}


/* Location */
.home-MB .location{
  margin-top: 5%;
  background-color: #292e28;
}

.home-MB .location .container{
  background-color: #292e28;
  padding-bottom: 5%;
}

.home-MB .location .row{
  box-shadow: 0px 0px 9px 0px white;
  background-color: white;
  margin: 0px 12px;
}

.home-MB .location .title_location h1{
  text-align: center;
  padding: 5% 0px;
  font-size: 20px;
  color: white;
}

.home-MB .location .info_location{
  width: 100%;
  height: auto;
}

.home-MB .location .info_location p{
  text-align: center;
  color: black;
}

.home-MB .location .info_location h1{
  font-size: 20px;
  color: black;
}

.home-MB .location .info_location b{
  font-weight: bold;
}

.home-MB .location .map_location{
  width: 100%;
  height: auto;
  padding: 0;
}

.home-MB .location .map_location iframe{
  width: 150px;
  height: auto;
}

@media only screen and (max-width: 1024px) {
  .home-PC{
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .home-MB{
    display: none;
  }
}