
/* wrapper */
.wrapper{
  background-image: url("../../../assets/img/wallpaperflare_dark.png");
  background-size: cover;

  height: 680px;
  background-position: 0px -333px;
  position: relative;
  z-index: -1;
}



.wrapper .box{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,300%);
}
.wrapper .box h1{
  text-shadow: rgb(255 3 3 / 76%) 6px -3px 0px, black 0px 0px 20px;
  font-weight: 900;
  letter-spacing: 10px;
}
.wrapper .box p{
  letter-spacing: 1px;

}
.wrapper .box p,
.wrapper .box h3,
.wrapper .box h1{
  text-shadow: #000000cc;
  font-family: abe;
  color: white;
  text-align: center;

}

.wrapper .box .small-box{
  width: 200px;
  background: #ff030352;
  position: absolute;
  padding: 10px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0px 0px 7px 0px black;
}

.wrapper .box .small-box a{
  text-decoration: none;
}
.wrapper .box .small-box p{
  font-family: abe;
  color: rgba(255, 255, 255, 0.896);
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
  letter-spacing: 2px;

}




/* About Us */

.about_us{
  margin-top: 30px;
}

.about_us .high_text{
  position: relative;
}

.about_us .high_text h1{
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  font-family: abe;
}

.about_us .high_text::after{
  position: absolute;
  content: "";
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 140px;
  background-color: black;
}


.about_us .open_close{
  position: relative;

}


.about_us .open_close::after{
  position: absolute;
  content: "";
  background-color: white;
  top: 0;
  left: 0;
  transform: translate(35%);
  height: 25px;
  width: 25px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  z-index: -1;
  margin: -1px;
}

.about_us .open_close::before{
  position: absolute;
  content: "";
  background-color: white;
  bottom: 0;
  right: 0;
  /* transform: translate(10px, 10px); */
  height: 25px;
  width: 25px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  z-index: -1;
}

.about_us .content{
  margin: 40px 0;
}
.about_us .image1,
.about_us .image2,
.about_us .image3{
  width: auto;
  height: 575px;
}
.about_us .image1 img,
.about_us .image2 img,
.about_us .image3 img{
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

.about_us .text span{
  font-weight: 600;
  font-family: abe;
  color: black;
}

.about_us .h_text h3{
  font-size: 2em;
  margin-bottom: 20px;
  font-family: abe;
}

.about_us .text p{
  color: red;
  font-family: abe;
  color: rgba(0, 0, 0, 0.685);
  text-align: justify;
}



/* .about_us .h_text::after{
  position: absolute;
  content: "";
  background-color: white;
  top: 0;
  left: 0;
  transform: translate(-30%);
  height: 25px;
  width: 30px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  z-index: -1;
}  */

/* 
.about_us .h_text::before{
  position: absolute;
  content: "";
  background-color: white;
  bottom: 0;
  right: 0;
  transform: translate(-889%,1px);
  height: 25px;
  width: 30px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  z-index: -1;
} */

.about_us .image2{
  float: right;
} 


























/* Map */
.map{
  padding: 80px 0;
}
.map .map_right{
  width: 500px;
  height: 500px;

}

.map h1{
  font-size: 2em;
  font-family: abe;
  margin-bottom: 35px;
  font-weight: 800;
}


.map p{
  color: rgba(0, 0, 0, 0.685);
  line-height: 2;
  font-family: abe;
  font-size: 15px;
}


.map span{
  color: black;
  font-weight: 700;
  font-family: abe;
}






/* Gallery */

.gallery{
  background-color: white;
  padding-bottom: 130px;
}

.gallery .gallery_image{
  padding-top: 30px;
  height: 460px;
  width: 100%;
}

.gallery .gallery_image img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    transition: transform .5s, filter 1.5s ease-in-out;
}



.gallery  .gallery_image img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
.gallery .high_text{
  position: relative;
}

.gallery .high_text h1{
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  font-family: abe;
}


.gallery .high_text::after{
  position: absolute;
  content: "";
  left: 50%;
  top: 105%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 110px;
  background-color: black;
}



.slider_wrapper{
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 30px;

}


.slider_wrapper .carousel-item {
  width: 100%;
  height: 500px;

}


.slider_wrapper .carousel-item img{
  width: 100%;
  height: 100%;
  object-fit:contain;
}

.slider_wrapper h3{
  font-size: 2em;
  text-align: center;
  font-family: abe;

}


.slider_wrapper .high_text{
  margin-bottom: 20px;
  position: relative;
}

.slider_wrapper .high_text h1{
  font-size: 2em;
  text-align: center;
  font-weight: 500;
  font-family: abe;
  color: black;
  margin-bottom: 30px;
}

.slider_wrapper .high_text::after{
  position: absolute;
  content: "";
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 320px;
  background-color: black;
}


.slider_wrapper .carousel-item img{
  border-radius: 5px;
}












































/* contact */

.contact {
  padding-top: 40px;
  padding-bottom: 30px;
  background-image: radial-gradient(rgb(52, 57, 51), rgb(40, 45, 39), rgb(36, 38, 33));
}

.contact .contact_us{
  position: relative;
  width: 100%;
  height: 500px;

}


.contact .contact_us .box{
  position: absolute;
  padding: 20px 0px;
  width: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px white;
  margin: 30px 0;

}

.contact .contact_us h1{
  padding: 35px 0;
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 4.5px;
  line-height: 1.15;
  font-family: abe;
  font-size: 2em;
}


.contact .contact_us .box h3{
  font-weight: 700;
  padding: 10px 0;
  margin-bottom: 0px;
  text-align: center;
  color: black;
  font-size: 25px;
  letter-spacing: 3px;
  font-family: abe;
}

.contact .contact_us .box p{
  text-align: center;
  color: #acacac;
  margin-bottom: 0px;
  margin: 5px 0;
  font-family: abe;

}


.contact .contact_us .box h3:last-of-type{
  padding-top: 20px;
}

.contact .contact_us .box a p{
  margin: 0;
  font-family: abe;
}

.contact .contact_us .box a{
  color: #acacac;
  text-decoration: none;
  font-size: 0.875em;
  text-decoration: underline;

}
