
.header-PC{
  width: 100%;
  height: 73px;
  position: sticky;
  top: 0;
  background-image: radial-gradient(#343933, #282d27, #242621);
  box-shadow: 0px 1px 11px 1px black;
  /* z-index: 99999; */
  z-index: 1;
}

.header-PC .nav-right a:hover,
.header-PC .nav-left a:hover{
    text-shadow: 0px 0px 20px rgb(255 3 3 / 76%);
}

.header-PC img{
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-PC .logo{
  height: 95px;
  margin: -15px;
}

.header-PC .nav-right,
.header-PC .nav-left{
  margin: 27px 10px;
}

.header-PC .nav-left{
  justify-content: end;
}
.header-PC .nav-right a,
.header-PC .nav-left a{
  padding: 30px 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(214, 209, 209);
  margin: 0px 20px;
  font-family: abe;
  font-weight: 600;
}

.header-PC .nav-right{
  text-align: left;
}

.header-PC .nav-left{
  text-align: right;
}



/*Mobile*/

.header-MB{
  height: 70px;
  position: relative;
  background-image: radial-gradient(#343933, #282d27, #242621);
}

.header-MB .nav li{
  display: inline-block;
  position: relative;
}

.header-MB .nav .logo{
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  height: 70px;
}

.header-MB .logo img{
  height: 100%;
  /* position: absolute;
  top: 0px; */
}

.header-MB .nav .navbar{
  position: absolute;
  top: 10px;
}

.header-MB .nav .navbar svg{
  width: 10px;
}

.header-MB .nav .navbar button{
  background-color: #272c26;
  color: black;
  border: 0px;
}

.header-MB .navbar .dropdown-toggle::after{
  content: none;
}

.header-MB .dropdown-menu{
  width: 30px;
  box-shadow: 0px 1px 11px 1px black;
  z-index: 99999;
}

.header-MB .dropdown-menu li{
  font-size: 10px;
  display: block;
}

/* .header- */
@media only screen and (max-width: 1024px) {
  .header-PC{
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .header-MB{
    display: none;
  }
}
