<section class="header-PC" id="header-PC">
    <div class="container">
      <div class="row">
          <div class="col-4">
              <div class="nav-left">
                  <a href="#header_PC">HOME</a>
                  <a href="#about_us">ABOUT US</a>
              </div>
          </div>
    
          <div class="col-4">
              <div class="logo">
                  <a href="#home" ><img class="mx-auto d-block"  src="../../../../assets/img/logo.png" alt=""></a>
              </div>
          </div>
    
          <div class="col-4">
              <div class="nav-right">
                  <a href="#gallery">GALLERY</a>
                  <a href="#contact">CONTACT US</a>
              </div>
          </div>
      </div>
    </div>
</section>

<section class="header-MB">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav">
                    <li class="logo">
                        <img src="../../../../assets/img/logo.png" alt="Kirin" class="mx-auto d-block">
                    </li>
                    <li class="navbar">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-bars"></i>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#home_mb">HOME</a></li>
                              <li><a class="dropdown-item" href="#about_us_mb">ABOUT US</a></li>
                              <li><a class="dropdown-item" href="#gallery_mb">GALLERY</a></li>
                              <li><a class="dropdown-item" href="#contact_mb">CONTACT US</a></li>
                            </ul>
                          </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>